<h1 style="font-size:1000%"> <%= kanji %> </h1>
<p> On reading :  <%= on_reading %> </p>
<p> On translation : <%= on_translation %> </p>
<p> Kun Reading : <%= kun_reading %> </p>
<p> Kun Translation : <%= kun_translation %> </p>
