<div class="starter-template">
  <div class ="col-md-12">
    <h1 style="font-size:1000%" id="kanji"> <%= kanji %> </h1>
    <p> On reading :  <%= on_reading %> </p>
    <p> On translation : <%= on_translation %> </p>
    <p> Kun Reading : <%= kun_reading %> </p>
    <p> Kun Translation : <%= kun_translation %> </p>

    <a href='/' class="btn btn-default btn-lg" role="button">Get Another One &raquo;</a>
  </div>

  <div class="col-md-6">
    <% include wiki.ejs %>
  </div>
  <div class="col-md-6">
    <% include advanced_search.ejs %>
  </div>
</div>

<script>
window.onload = function(){
  wiki.getKanji($("#kanji").text().trim());
}
</script>